.banner-img img{
    width: 100%;
}

.heading-section{
    max-width: 795px;
}

h2{
    font-size: 35px;
    line-height: 42px;
}

.one-step-shop .subtitle-block{
    margin-top: 8px;
    max-width: 795px;
}

@media (min-width: 1024px) {
    .lg\:py-20 {
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
    }
}
