.banner-img img{
    width: 100%;
}

.carousel-control-next, .carousel-control-prev{
    width: auto;
}

.carousel-control-prev-icon, .carousel-control-next-icon{
    border-radius: 100%;
    color: black;
}

.carousel-control-prev {
    left: 30px;
}

.carousel-control-next{
    right: 30px;
}