<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item" *ngFor="let menuObj of memuList" [ngClass]="{'dropdown': !!menuObj?.subMenus}">
          <a *ngIf="!!menuObj?.subMenus" class="nav-link dropdown-toggle header-more-item text-black" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="menu-icon"><i class="{{menuObj?.icon}}" aria-hidden="true"></i></span>
            {{menuObj?.title}}
          </a>

          <a *ngIf="!menuObj?.subMenus" class="nav-link text-black" data-bs-dismiss="offcanvas" [routerLink]='menuObj?.link' >
            <span class="menu-icon"><i class="{{menuObj?.icon}}" aria-hidden="true"></i></span>
            {{menuObj?.title}}
          </a>

          <ul *ngIf="!!menuObj?.subMenus" class="dropdown-menu navigationBar shadow-sm" aria-labelledby="navbarScrollingDropdown">
            <li *ngFor="let smObj of menuObj?.subMenus; let smI = index;">
              <a class="dropdown-item text-black more-list-item" data-bs-dismiss="offcanvas" [routerLink]='smObj?.link'>
                <div class="left-red-tape"></div>
                <span class="menu-icon sub-menu-title"><i class="{{smObj?.icon}}" aria-hidden="true"></i></span>
                {{smObj?.title}}
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    </div> 
</nav>

<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Design Ideas
            </a>
            <ul class="dropdown-menu navigationBar" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">False Celling Designs</a></li>
              <li><a class="dropdown-item" href="#">Leving Room Designs</a></li>
              <li><a class="dropdown-item" href="#">Modular Kitchen Designs</a></li>
              <li><a class="dropdown-item" href="#">Master Bedroom Designs</a></li>
              <li><a class="dropdown-item" href="#">Wardrobe Designs</a></li>
              <li><a class="dropdown-item" href="#">Kids Bedroom Designs</a></li>
              <li><a class="dropdown-item" href="#">Pooja Room Designs</a></li>
              <li><a class="dropdown-item" href="#">Dining Room Designs</a></li>
              <li><a class="dropdown-item" href="#">Foyer Designs</a></li>
              <li><a class="dropdown-item" href="#">Bathroom Designs</a></li>
              <li><a class="dropdown-item" href="#">Guest Vedroom Designs</a></li>
              <li><a class="dropdown-item" href="#">Home Office Designs</a></li>
              <li><a class="dropdown-item" href="#">Balcony Designs</a></li>
              <li><a class="dropdown-item" href="#">TV Unit Designs</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">How it works</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Offerings</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <div class="col-md-4">
                <img src="assets/929202.jpg" width="100px" height="100px">
              </div>
              <div class="col-md-8">
                <h2>hello</h2>
              </div>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Cities
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Mumbai</a></li>
              <li><a class="dropdown-item" href="#">Pune</a></li>
              <li><a class="dropdown-item" href="#">Delhi</a></li>
              <li><a class="dropdown-item" href="#">Surat</a></li>
              <li><a class="dropdown-item" href="#">Ahemdabad</a></li>
              <li><a class="dropdown-item" href="#">Goa</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
</nav> -->

