<div class="home-page-body">
    <!-- 1 -->
    <div class="one-step-shop py-10 lg:py-20">
        <div class="wrapper-class">
            <div class="item-types">
                <div class="header d-flex justify-content-between">
                    <div class="heading-section">
                        <h2 class="title">
                            One-stop shop for all things home interiors
                        </h2>
                        <p class="subtitle-block mt-2 mb-5 md:mt-3 md:mb-6 item-subtitle body-large">
                            "Whether it’s a magazine-like dream kitchen or your entire home, enjoy end-to-end solutions
                            from design to installation."
                        </p>
                    </div>
                </div>
                <div class="position-relative swiper-container-wrapper">
                    <div class="row">
                        <div class="col-md-6">
                            <a href="">
                                <div class="card text-left">
                                    <img class="card-img-top" src="holder.js/100px180/" alt="">
                                    <div class="card-body">
                                        <h4 class="card-title">Title</h4>
                                        <p class="card-text">Body</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-6">
                            <div class="card text-left">
                                <img class="card-img-top" src="holder.js/100px180/" alt="">
                                <div class="card-body">
                                    <h4 class="card-title">Title</h4>
                                    <p class="card-text">Body</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div>

    </div>
</div>